nav {
    height: 110px;
}

img {
    margin-right: 15px;
}

.hide {
    display: none;
  }

  button {
      background-color: white !important;
      width: fit-content;
      padding: 0px !important;
      border-radius: 20px !important;
  }

  nav ul a {
      color: rgb(142, 6, 6)!important;
  }

  body { 
    background-image: url(https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/84496273_10221379588302075_1680719311078948864_n.jpg?_nc_cat=104&_nc_ohc=JUypgmeDMP4AX-VkWX1&_nc_ht=scontent-mia3-1.xx&oh=4488948f85da6859b6f8e2ce0f28c13b&oe=5E8E8560) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    color: lightyellow;
}

h1 {
    text-align: left;
    font-family: 'Francois One', sans-serif;
}